main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 10px;
}

div {
    border: 2px solid black;
    width: 50%;
    height: auto;
    text-align: center;
    align-items: center;
}

div:hover {
    transform: scale(1.1);
}